extend layout-colorize

append css
	style
		:less(compress=true)
			body {
				padding: 120px 0;
			}
			.example-rendered {
				padding: 20px 0;
			}
			.cm-s-default .cm-qualifier {
				color: #0AC43E;
			}
			.cm-s-default .cm-tag {
				color: #BB6D92;
			}
block main
	header.container.main-header
		button#toggle-code(type="button").btn.btn-info Toggle code
		h1 Bootstrap 3 converted to jade (WIP)

	.container
		//example
		.example
			.example-rendered
				.btn-group
					button.btn.btn-default(type='button')
						span.glyphicon.glyphicon-align-left
					button.btn.btn-default(type='button')
						span.glyphicon.glyphicon-align-center
					button.btn.btn-default(type='button')
						span.glyphicon.glyphicon-align-right
					button.btn.btn-default(type='button')
						span.glyphicon.glyphicon-align-justify
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-group
					|	button.btn.btn-default(type='button')
					|		span.glyphicon.glyphicon-align-left
					|	button.btn.btn-default(type='button')
					|		span.glyphicon.glyphicon-align-center
					|	button.btn.btn-default(type='button')
					|		span.glyphicon.glyphicon-align-right
					|	button.btn.btn-default(type='button')
					|		span.glyphicon.glyphicon-align-justify
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					button.btn.btn-default.btn-lg(type='button')
						span.glyphicon.glyphicon-star
						| Star
					button.btn.btn-default(type='button')
						span.glyphicon.glyphicon-star
						| Star
					button.btn.btn-default.btn-sm(type='button')
						span.glyphicon.glyphicon-star
						| Star
					button.btn.btn-default.btn-xs(type='button')
						span.glyphicon.glyphicon-star
						| Star
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-toolbar
					|	button.btn.btn-default.btn-lg(type='button')
					|		span.glyphicon.glyphicon-star
					|		| Star
					|	button.btn.btn-default(type='button')
					|		span.glyphicon.glyphicon-star
					|		| Star
					|	button.btn.btn-default.btn-sm(type='button')
					|		span.glyphicon.glyphicon-star
					|		| Star
					|	button.btn.btn-default.btn-xs(type='button')
					|		span.glyphicon.glyphicon-star
					|		| Star
		///example
		//example
		.example
			.example-rendered
				.btn-group
					button.btn.btn-default(type='button') Left
					button.btn.btn-default(type='button') Middle
					button.btn.btn-default(type='button') Right
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-group
					|	button.btn.btn-default(type='button') Left
					|	button.btn.btn-default(type='button') Middle
					|	button.btn.btn-default(type='button') Right
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group
						button.btn.btn-default(type='button') 1
						button.btn.btn-default(type='button') 2
						button.btn.btn-default(type='button') 3
						button.btn.btn-default(type='button') 4
					.btn-group
						button.btn.btn-default(type='button') 5
						button.btn.btn-default(type='button') 6
						button.btn.btn-default(type='button') 7
					.btn-group
						button.btn.btn-default(type='button') 8
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-toolbar
					|	.btn-group
					|		button.btn.btn-default(type='button') 1
					|		button.btn.btn-default(type='button') 2
					|		button.btn.btn-default(type='button') 3
					|		button.btn.btn-default(type='button') 4
					|	.btn-group
					|		button.btn.btn-default(type='button') 5
					|		button.btn.btn-default(type='button') 6
					|		button.btn.btn-default(type='button') 7
					|	.btn-group
					|		button.btn.btn-default(type='button') 8
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group.btn-group-lg
						button.btn.btn-default(type='button') Left
						button.btn.btn-default(type='button') Middle
						button.btn.btn-default(type='button') Right
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-toolbar
					|	.btn-group.btn-group-lg
					|		button.btn.btn-default(type='button') Left
					|		button.btn.btn-default(type='button') Middle
					|		button.btn.btn-default(type='button') Right
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group
						button.btn.btn-default(type='button') Left
						button.btn.btn-default(type='button') Middle
						button.btn.btn-default(type='button') Right
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-toolbar
					|	.btn-group
					|		button.btn.btn-default(type='button') Left
					|		button.btn.btn-default(type='button') Middle
					|		button.btn.btn-default(type='button') Right
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group.btn-group-sm
						button.btn.btn-default(type='button') Left
						button.btn.btn-default(type='button') Middle
						button.btn.btn-default(type='button') Right
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-toolbar
					|	.btn-group.btn-group-sm
					|		button.btn.btn-default(type='button') Left
					|		button.btn.btn-default(type='button') Middle
					|		button.btn.btn-default(type='button') Right
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group.btn-group-xs
						button.btn.btn-default(type='button') Left
						button.btn.btn-default(type='button') Middle
						button.btn.btn-default(type='button') Right
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-toolbar
					|	.btn-group.btn-group-xs
					|		button.btn.btn-default(type='button') Left
					|		button.btn.btn-default(type='button') Middle
					|		button.btn.btn-default(type='button') Right
		///example
		//example
		.example
			.example-rendered
				.btn-group
					button.btn.btn-default(type='button') 1
					button.btn.btn-default(type='button') 2
				.btn-group
					button#btnGroupDrop1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
						| Dropdown 
						span.caret
					ul.dropdown-menu(role='menu', aria-labelledby='btnGroupDrop1')
						li: a(href='#') Dropdown link
						li: a(href='#') Dropdown link
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-group
					|	button.btn.btn-default(type='button') 1
					|	button.btn.btn-default(type='button') 2
					|.btn-group
					|	button#btnGroupDrop1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Dropdown 
					|		span.caret
					|	ul.dropdown-menu(role='menu', aria-labelledby='btnGroupDrop1')
					|		li: a(href='#') Dropdown link
					|		li: a(href='#') Dropdown link
		///example
		//example
		.example
			.example-rendered
				.btn-group-vertical
					button.btn.btn-default(type='button') Button
					button.btn.btn-default(type='button') Button
					.btn-group
						button#btnGroupVerticalDrop1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							| Dropdown 
							span.caret
						ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop1')
							li: a(href='#') Dropdown link
							li: a(href='#') Dropdown link
					button.btn.btn-default(type='button') Button
					button.btn.btn-default(type='button') Button
					.btn-group
						button#btnGroupVerticalDrop2.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							| Dropdown 
							span.caret
						ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop2')
							li: a(href='#') Dropdown link
							li: a(href='#') Dropdown link
					.btn-group
						button#btnGroupVerticalDrop3.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							| Dropdown 
							span.caret
						ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop3')
							li: a(href='#') Dropdown link
							li: a(href='#') Dropdown link
					.btn-group
						button#btnGroupVerticalDrop4.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							| Dropdown 
							span.caret
						ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop4')
							li: a(href='#') Dropdown link
							li: a(href='#') Dropdown link
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-group-vertical
					|	button.btn.btn-default(type='button') Button
					|	button.btn.btn-default(type='button') Button
					|	.btn-group
					|		button#btnGroupVerticalDrop1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Dropdown
					|			span.caret
					|		ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop1')
					|			li: a(href='#') Dropdown link
					|			li: a(href='#') Dropdown link
					|	button.btn.btn-default(type='button') Button
					|	button.btn.btn-default(type='button') Button
					|	.btn-group
					|		button#btnGroupVerticalDrop2.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Dropdown
					|			span.caret
					|		ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop2')
					|			li: a(href='#') Dropdown link
					|			li: a(href='#') Dropdown link
					|	.btn-group
					|		button#btnGroupVerticalDrop3.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Dropdown
					|			span.caret
					|		ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop3')
					|			li: a(href='#') Dropdown link
					|			li: a(href='#') Dropdown link
					|	.btn-group
					|		button#btnGroupVerticalDrop4.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Dropdown
					|			span.caret
					|		ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop4')
					|			li: a(href='#') Dropdown link
					|			li: a(href='#') Dropdown link
		///example
		//example
		.example
			.example-rendered
				.btn-group.btn-group-justified
					a.btn.btn-default(href='#') Left
					a.btn.btn-default(href='#') Middle
					a.btn.btn-default(href='#') Right
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-group.btn-group-justified
					|	a.btn.btn-default(href='#') Left
					|	a.btn.btn-default(href='#') Middle
					|	a.btn.btn-default(href='#') Right
		///example
		//example
		.example
			.example-rendered
				.btn-group
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
						| Default 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
						| Primary 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
						| Success 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
						| Info 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
						| Warning 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
						| Danger 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-group
					|	button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Default
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
					|.btn-group
					|	button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Primary
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
					|.btn-group
					|	button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Success
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
					|.btn-group
					|	button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Info
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
					|.btn-group
					|	button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Warning
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
					|.btn-group
					|	button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Danger
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
		///example
		//example
		.example
			.example-rendered
				.btn-group
					button.btn.btn-default(type='button') Default
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-primary(type='button') Primary
					button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-success(type='button') Success
					button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-info(type='button') Info
					button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-warning(type='button') Warning
					button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-danger(type='button') Danger
					button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-group
					|	button.btn.btn-default(type='button') Default
					|	button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link

					|.btn-group
					|	button.btn.btn-primary(type='button') Primary
					|	button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link

					|.btn-group
					|	button.btn.btn-success(type='button') Success
					|	button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link

					|.btn-group
					|	button.btn.btn-info(type='button') Info
					|	button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link

					|.btn-group
					|	button.btn.btn-warning(type='button') Warning
					|	button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link

					|.btn-group
					|	button.btn.btn-danger(type='button') Danger
					|	button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group
						button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='dropdown')
							| Large button 
							span.caret
						ul.dropdown-menu(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated link
				br
				.btn-toolbar
					.btn-group
						button.btn.btn-default.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
							| Small button 
							span.caret
						ul.dropdown-menu(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated link
				br
				.btn-toolbar
					.btn-group
						button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
							| Extra small button 
							span.caret
						ul.dropdown-menu(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated link
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-toolbar
					|	.btn-group
					|		button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Large button
					|			span.caret
					|		ul.dropdown-menu(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated link
					|br
					|.btn-toolbar
					|	.btn-group
					|		button.btn.btn-default.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Small button
					|			span.caret
					|		ul.dropdown-menu(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated link
					|br
					|.btn-toolbar
					|	.btn-group
					|		button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Extra small button
					|			span.caret
					|		ul.dropdown-menu(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated link
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group.dropup
						button.btn.btn-default(type='button') Dropup
						button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							span.caret
						ul.dropdown-menu(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated link

					.btn-group.dropup
						button.btn.btn-primary(type='button') Right dropup
						button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
							span.caret
						ul.dropdown-menu.pull-right(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated link
			.example-code.collapse.in
				pre: code.code-jade
					|.btn-toolbar
					|	.btn-group.dropup
					|		button.btn.btn-default(type='button') Dropup
					|		button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|			span.caret
					|		ul.dropdown-menu(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated link

					|	.btn-group.dropup
					|		button.btn.btn-primary(type='button') Right dropup
					|		button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
					|			span.caret
					|		ul.dropdown-menu.pull-right(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated link
		///example
		//example
		.example
			.example-rendered
				form(role='form')
					.input-group
						span.input-group-addon @
						input.form-control(type='text', placeholder='Username')
					br
					.input-group
						input.form-control(type='text')
						span.input-group-addon .00
					br
					.input-group
						span.input-group-addon $
						input.form-control(type='text')
						span.input-group-addon .00
			.example-code.collapse.in
				pre: code.code-jade
					|form(role='form')
					|	.input-group
					|		span.input-group-addon @
					|		input.form-control(type='text', placeholder='Username')
					|	br
					|	.input-group
					|		input.form-control(type='text')
					|		span.input-group-addon .00
					|	br
					|	.input-group
					|		span.input-group-addon $
					|		input.form-control(type='text')
					|		span.input-group-addon .00
		///example
		//example
		.example
			.example-rendered
				form(role='form')
					.input-group.input-group-lg
						span.input-group-addon @
						input.form-control(type='text', placeholder='Username')
					br
					.input-group
						span.input-group-addon @
						input.form-control(type='text', placeholder='Username')
					br
					.input-group.input-group-sm
						span.input-group-addon @
						input.form-control(type='text', placeholder='Username')

			.example-code.collapse.in
				pre: code.code-jade
					|form(role='form')
					|	.input-group.input-group-lg
					|		span.input-group-addon @
					|		input.form-control(type='text', placeholder='Username')
					|	br
					|	.input-group
					|		span.input-group-addon @
					|		input.form-control(type='text', placeholder='Username')
					|	br
					|	.input-group.input-group-sm
					|		span.input-group-addon @
					|		input.form-control(type='text', placeholder='Username')
		///example
		//example
		.example
			.example-rendered
				form.bs-example.bs-example-form
					.row
						.col-lg-6
							.input-group
								span.input-group-addon
									input(type='checkbox')
								input.form-control(type='text')
						.col-lg-6
							.input-group
								span.input-group-addon
									input(type='radio')
								input.form-control(type='text')
			.example-code.collapse.in
				pre: code.code-jade
					|form.bs-example.bs-example-form
					|	.row
					|		.col-lg-6
					|			.input-group
					|				span.input-group-addon
					|					input(type='checkbox')
					|				input.form-control(type='text')
					|		.col-lg-6
					|			.input-group
					|				span.input-group-addon
					|					input(type='radio')
					|				input.form-control(type='text')
		///example
		//example
		.example
			.example-rendered
				form
					.row
						.col-lg-6
							.input-group
								span.input-group-btn
									button.btn.btn-default(type='button') Go!
								input.form-control(type='text')
						.col-lg-6
							.input-group
								input.form-control(type='text')
								span.input-group-btn
									button.btn.btn-default(type='button') Go!
			.example-code.collapse.in
				pre: code.code-jade
					|form
					|	.row
					|		.col-lg-6
					|			.input-group
					|				span.input-group-btn
					|					button.btn.btn-default(type='button') Go!
					|				input.form-control(type='text')
					|		.col-lg-6
					|			.input-group
					|				input.form-control(type='text')
					|				span.input-group-btn
					|					button.btn.btn-default(type='button') Go!
		///example
		//example
		.example
			.example-rendered
				form(role='form')
					.row
						.col-lg-6
							.input-group
								.input-group-btn
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
										| Action 
										span.caret
									ul.dropdown-menu(role='menu')
										li: a(href='#') Action
										li: a(href='#') Another action
										li: a(href='#') Something else here
										li.divider
										li: a(href='#') Separated link
								input.form-control(type='text')
						.col-lg-6
							.input-group
								input.form-control(type='text')
								.input-group-btn
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
										| Action 
										span.caret
									ul.dropdown-menu.pull-right(role='menu')
										li: a(href='#') Action
										li: a(href='#') Another action
										li: a(href='#') Something else here
										li.divider
										li: a(href='#') Separated link
			.example-code.collapse.in
				pre: code.code-jade
					|form(role='form')
					|	.row
					|		.col-lg-6
					|			.input-group
					|				.input-group-btn
					|					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|						| Action
					|						span.caret
					|					ul.dropdown-menu(role='menu')
					|						li: a(href='#') Action
					|						li: a(href='#') Another action
					|						li: a(href='#') Something else here
					|						li.divider
					|						li: a(href='#') Separated link
					|				input.form-control(type='text')
					|		.col-lg-6
					|			.input-group
					|				input.form-control(type='text')
					|				.input-group-btn
					|					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|						| Action
					|						span.caret
					|					ul.dropdown-menu.pull-right(role='menu')
					|						li: a(href='#') Action
					|						li: a(href='#') Another action
					|						li: a(href='#') Something else here
					|						li.divider
					|						li: a(href='#') Separated link
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-tabs
					li.active: a(href='#') Home
					li: a(href='#') Profile
					li: a(href='#') Messages
			.example-code.collapse.in
				pre: code.code-jade
					|ul.nav.nav-tabs
					|	li.active: a(href='#') Home
					|	li: a(href='#') Profile
					|	li: a(href='#') Messages
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-pills
					li.active: a(href='#') Home
					li: a(href='#') Profile
					li: a(href='#') Messages
			.example-code.collapse.in
				pre: code.code-jade
					|ul.nav.nav-pills
					|	li.active: a(href='#') Home
					|	li: a(href='#') Profile
					|	li: a(href='#') Messages
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-pills.nav-stacked
					li.active: a(href='#') Home
					li: a(href='#') Profile
					li: a(href='#') Messages
			.example-code.collapse.in
				pre: code.code-jade
					|ul.nav.nav-tabs.nav-stacked
					|	li.active: a(href='#') Home
					|	li: a(href='#') Profile
					|	li: a(href='#') Messages
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-tabs.nav-justified
					li.active: a(href='#') Home
					li: a(href='#') Profile
					li: a(href='#') Messages
				br
				ul.nav.nav-pills.nav-justified
					li.active: a(href='#') Home
					li: a(href='#') Profile
					li: a(href='#') Messages
			.example-code.collapse.in
				pre: code.code-jade
					|ul.nav.nav-tabs.nav-justified
					|	li.active: a(href='#') Home
					|	li: a(href='#') Profile
					|	li: a(href='#') Messages
					|br
					|ul.nav.nav-pills.nav-justified
					|	li.active: a(href='#') Home
					|	li: a(href='#') Profile
					|	li: a(href='#') Messages
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-pills
					li: a(href='#') Clickable link
					li: a(href='#') Clickable link
					li.disabled: a(href='#') Disabled link
			.example-code.collapse.in
				pre: code.code-jade
					|ul.nav.nav-pills
					|	li: a(href='#') Clickable link
					|	li: a(href='#') Clickable link
					|	li.disabled: a(href='#') Disabled link
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-tabs
					li.active: a(href='#') Home
					li: a(href='#') Help
					li.dropdown: a.dropdown-toggle(data-toggle='dropdown', href='#')
						| Dropdown
						span.caret
						ul.dropdown-menu(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated btn-link
			.example-code.collapse.in
				pre: code.code-jade
					|ul.nav.nav-tabs
					|	li.active: a(href='#') Home
					|	li: a(href='#') Help
					|	li.dropdown: a.dropdown-toggle(data-toggle='dropdown', href='#')
					|		| Dropdown
					|		span.caret
					|		ul.dropdown-menu(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated btn-link
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-pills
					li.active: a(href='#') Home
					li: a(href='#') Help
					li.dropdown: a.dropdown-toggle(data-toggle='dropdown', href='#')
						| Dropdown
						span.caret
						ul.dropdown-menu(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated btn-link
			.example-code.collapse.in
				pre: code.code-jade
					|ul.nav.nav-pills
					|	li.active: a(href='#') Home
					|	li: a(href='#') Help
					|	li.dropdown: a.dropdown-toggle(data-toggle='dropdown', href='#')
					|		| Dropdown
					|		span.caret
					|		ul.dropdown-menu(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated btn-link
		///example
		//example
		.example
			.example-rendered
				nav.navbar.navbar-default(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') Brand

					.collapse.navbar-collapse.navbar-ex1-collapse
						ul.nav.navbar-nav
							li.active: a(href='#') Link
							li: a(href='#') Link
							li.dropdown: a.dropdown-toggle(href='#', data-toggle='dropdown')
								| Dropdown
								b.caret
								ul.dropdown-menu(role='menu')
									li: a(href='#') Action
									li: a(href='#') Another action
									li: a(href='#') Something else here
									li.divider
									li: a(href='#') Separated link
									li.divider
									li: a(href='#') One more separated link
						form.navbar-form.navbar-left(role='search')
							.form-group
								input.form-control(type='text', placeholder='Search')
							button.btn.btn-default(type='submit') Submit
						ul.nav.navbar-nav.navbar-right
							li: a(href='#') Link
							li.dropdown: a.dropdown-toggle(href='#', data-toggle='dropdown')
								| Dropdown
								b.caret
								ul.dropdown-menu(role='menu')
									li: a(href='#') Action
									li: a(href='#') Another action
									li: a(href='#') Something else here
									li.divider
									li: a(href='#') Separated link
			.example-code.collapse.in
				pre: code.code-jade
					|nav.navbar.navbar-default(role='navigation')
					|	.navbar-header
					|		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
					|			span.sr-only Toggle navigation
					|			span.icon-bar
					|			span.icon-bar
					|			span.icon-bar
					|		a.navbar-brand(href='#') Brand
					|	.collapse.navbar-collapse.navbar-ex1-collapse
					|		ul.nav.navbar-nav
					|			li.active: a(href='#') Link
					|			li: a(href='#') Link
					|			li.dropdown: a.dropdown-toggle(href='#', data-toggle='dropdown')
					|				| Dropdown
					|				b.caret
					|				ul.dropdown-menu(role='menu')
					|					li: a(href='#') Action
					|					li: a(href='#') Another action
					|					li: a(href='#') Something else here
					|					li.divider
					|					li: a(href='#') Separated link
					|					li.divider
					|					li: a(href='#') One more separated link
					|		form.navbar-form.navbar-left(role='search')
					|			.form-group
					|				input.form-control(type='text', placeholder='Search')
					|			button.btn.btn-default(type='submit') Submit
					|		ul.nav.navbar-nav.navbar-right
					|			li: a(href='#') Link
					|			li.dropdown: a.dropdown-toggle(href='#', data-toggle='dropdown')
					|				| Dropdown
					|				b.caret
					|				ul.dropdown-menu(role='menu')
					|					li: a(href='#') Action
					|					li: a(href='#') Another action
					|					li: a(href='#') Something else here
					|					li.divider
					|					li: a(href='#') Separated link
		///example
		//example
		.example
			.example-rendered
				nav.navbar.navbar-default(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex2-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') Brand
					.collapse.navbar-collapse.navbar-ex2-collapse
						button.btn.btn-default.navbar-btn(type='button') Sign in
			.example-code.collapse.in
				pre: code.code-jade
					|nav.navbar.navbar-default(role='navigation')
					|	.navbar-header
					|		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex2-collapse')
					|			span.sr-only Toggle navigation
					|			span.icon-bar
					|			span.icon-bar
					|			span.icon-bar
					|		a.navbar-brand(href='#') Brand
					|	.collapse.navbar-collapse.navbar-ex2-collapse
					|		button.btn.btn-default.navbar-btn(type='button') Sign in
		///example
		//example
		.example
			.example-rendered
				nav.navbar.navbar-default(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex3-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') Brand
					.collapse.navbar-collapse.navbar-ex3-collapse
						p.navbar-text Signed in as Mark Otto
			.example-code.collapse.in
				pre: code.code-jade
					|nav.navbar.navbar-default(role='navigation')
					|	.navbar-header
					|		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex3-collapse')
					|			span.sr-only Toggle navigation
					|			span.icon-bar
					|			span.icon-bar
					|			span.icon-bar
					|		a.navbar-brand(href='#') Brand
					|	.collapse.navbar-collapse.navbar-ex3-collapse
					|		p.navbar-text Signed in as Mark Otto
		///example
		//example
		.example
			.example-rendered
				nav.navbar.navbar-default(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex4-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') Brand
					.collapse.navbar-collapse.navbar-ex4-collapse
						p.navbar-text.pull-right
							| Signed in as
							a.navbar-link(href='#')  Mark Otto
			.example-code.collapse.in
				pre: code.code-jade
					|nav.navbar.navbar-default(role='navigation')
					|	.navbar-header
					|		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex4-collapse')
					|			span.sr-only Toggle navigation
					|			span.icon-bar
					|			span.icon-bar
					|			span.icon-bar
					|		a.navbar-brand(href='#') Brand
					|	.collapse.navbar-collapse.navbar-ex4-collapse
					|		p.navbar-text.pull-right
					|			| Signed in as
					|			a.navbar-link(href='#')  Mark Otto
		///example
		//example
		.example
			.example-rendered
				nav.navbar.navbar-default.navbar-static-top(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex7-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') Brand
					.collapse.navbar-collapse.navbar-ex7-collapse
						ul.nav.navbar-nav
							li.active: a(href='#') Home
							li: a(href='#') Link
							li: a(href='#') Link
			.example-code.collapse.in
				pre: code.code-jade
					|nav.navbar.navbar-default.navbar-static-top(role='navigation')
					|	.navbar-header
					|		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex7-collapse')
					|			span.sr-only Toggle navigation
					|			span.icon-bar
					|			span.icon-bar
					|			span.icon-bar
					|		a.navbar-brand(href='#') Brand
					|	.collapse.navbar-collapse.navbar-ex7-collapse
					|		ul.nav.navbar-nav
					|			li.active: a(href='#') Home
					|			li: a(href='#') Link
					|			li: a(href='#') Link
		///example
		//example
		.example
			.example-rendered
				nav.navbar.navbar-inverse(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex8-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') Brand
					.collapse.navbar-collapse.navbar-ex8-collapse
						ul.nav.navbar-nav
							li.active: a(href='#') Home
							li: a(href='#') Link
							li: a(href='#') Link
			.example-code.collapse.in
				pre: code.code-jade
					|nav.navbar.navbar-inverse(role='navigation')
					|	.navbar-header
					|		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex8-collapse')
					|			span.sr-only Toggle navigation
					|			span.icon-bar
					|			span.icon-bar
					|			span.icon-bar
					|		a.navbar-brand(href='#') Brand
					|	.collapse.navbar-collapse.navbar-ex8-collapse
					|		ul.nav.navbar-nav
					|			li.active: a(href='#') Home
					|			li: a(href='#') Link
					|			li: a(href='#') Link
		///example
		//example
		.example
			.example-rendered
				ol.breadcrumb
					li.active Home
				ol.breadcrumb
					li: a(href='#') Home
					li.active Library
				ol.breadcrumb
					li: a(href='#') Home
					li: a(href='#') Library
					li.active Data
			.example-code.collapse.in
				pre: code.code-jade
					|ol.breadcrumb
					|	li.active Home
					|ol.breadcrumb
					|	li: a(href='#') Home
					|	li.active Library
					|ol.breadcrumb
					|	li: a(href='#') Home
					|	li: a(href='#') Library
					|	li.active Data
		///example
		//example
		.example
			.example-rendered
				ul.pagination
					li: a(href='#') &laquo;
					li: a(href='#') 1
					li: a(href='#') 2
					li: a(href='#') 3
					li: a(href='#') 4
					li: a(href='#') 5
					li: a(href='#') &raquo;
			.example-code.collapse.in
				pre: code.code-jade
					|ul.pagination
					|	li: a(href='#') &laquo;
					|	li: a(href='#') 1
					|	li: a(href='#') 2
					|	li: a(href='#') 3
					|	li: a(href='#') 4
					|	li: a(href='#') 5
					|	li: a(href='#') &raquo;
		///example
		//example
		.example
			.example-rendered
				ul.pagination
					li.disabled: a(href='#') &laquo;
					li.active: a(href='#')
						| 1
						span.sr-only (current)
					li: a(href='#') 2
					li: a(href='#') 3
					li: a(href='#') 4
					li: a(href='#') 5
					li: a(href='#') &raquo;
			.example-code.collapse.in
				pre: code.code-jade
					|ul.pagination
					|	li.disabled: a(href='#') &laquo;
					|	li.active: a(href='#')
					|		| 1
					|		span.sr-only (current)
					|	li: a(href='#') 2
					|	li: a(href='#') 3
					|	li: a(href='#') 4
					|	li: a(href='#') 5
					|	li: a(href='#') &raquo;
		///example
		//example
		.example
			.example-rendered
				ul.pagination.pagination-lg
					li.disabled: a(href='#') &laquo;
					li.active: a(href='#')
						| 1
						span.sr-only (current)
					li: a(href='#') 2
					li: a(href='#') 3
					li: a(href='#') 4
					li: a(href='#') 5
					li: a(href='#') &raquo;
				br
				ul.pagination
					li.disabled: a(href='#') &laquo;
					li.active: a(href='#')
						| 1
						span.sr-only (current)
					li: a(href='#') 2
					li: a(href='#') 3
					li: a(href='#') 4
					li: a(href='#') 5
					li: a(href='#') &raquo;
				br
				ul.pagination.pagination-sm
					li.disabled: a(href='#') &laquo;
					li.active: a(href='#')
						| 1
						span.sr-only (current)
					li: a(href='#') 2
					li: a(href='#') 3
					li: a(href='#') 4
					li: a(href='#') 5
					li: a(href='#') &raquo;
			.example-code.collapse.in
				pre: code.code-jade
					|ul.pagination.pagination-lg
					|	li.disabled: a(href='#') &laquo;
					|	li.active: a(href='#')
					|		| 1
					|		span.sr-only (current)
					|	li: a(href='#') 2
					|	li: a(href='#') 3
					|	li: a(href='#') 4
					|	li: a(href='#') 5
					|	li: a(href='#') &raquo;
					|br
					|ul.pagination
					|	li.disabled: a(href='#') &laquo;
					|	li.active: a(href='#')
					|		| 1
					|		span.sr-only (current)
					|	li: a(href='#') 2
					|	li: a(href='#') 3
					|	li: a(href='#') 4
					|	li: a(href='#') 5
					|	li: a(href='#') &raquo;
					|br
					|ul.pagination.pagination-sm
					|	li.disabled: a(href='#') &laquo;
					|	li.active: a(href='#')
					|		| 1
					|		span.sr-only (current)
					|	li: a(href='#') 2
					|	li: a(href='#') 3
					|	li: a(href='#') 4
					|	li: a(href='#') 5
					|	li: a(href='#') &raquo;
		///example
		//example
		.example
			.example-rendered
				ul.pager
					li: a(href='#') Previous
					li: a(href='#') Next
			.example-code.collapse.in
				pre: code.code-jade
					|ul.pager
					|	li: a(href='#') Previous
					|	li: a(href='#') Next
		///example
		//example
		.example
			.example-rendered
				ul.pager
					li.previous: a(href='#') ← Older
					li.next: a(href='#') Newer →
			.example-code.collapse.in
				pre: code.code-jade
					|ul.pager
					|	li.previous: a(href='#') ← Older
					|	li.next: a(href='#') Newer →
		///example
		//example
		.example
			.example-rendered
				ul.pager
					li.previous.disabled: a(href='#') ← Older
					li.next: a(href='#') Newer →
			.example-code.collapse.in
				pre: code.code-jade
					|ul.pager
					|	li.previous.disabled: a(href='#') ← Older
					|	li.next: a(href='#') Newer →
		///example
		//example
		.example
			.example-rendered
				h1
					| Example heading 
					span.label.label-default New
				h2
					| Example heading 
					span.label.label-default New
				h3
					| Example heading 
					span.label.label-default New
				h4
					| Example heading 
					span.label.label-default New
				h5
					| Example heading 
					span.label.label-default New
				h6
					| Example heading 
					span.label.label-default New
			.example-code.collapse.in
				pre: code.code-jade
					|h1
					|	| Example heading 
					|	span.label.label-default New
					|h2
					|	| Example heading 
					|	span.label.label-default New
					|h3
					|	| Example heading 
					|	span.label.label-default New
					|h4
					|	| Example heading 
					|	span.label.label-default New
					|h5
					|	| Example heading 
					|	span.label.label-default New
					|h6
					|	| Example heading 
					|	span.label.label-default New
		///example
		//example
		.example
			.example-rendered
				span.label.label-default Default
				span.label.label-primary Primary
				span.label.label-success Success
				span.label.label-info Info
				span.label.label-warning Warning
				span.label.label-danger Danger
			.example-code.collapse.in
				pre: code.code-jade
					|span.label.label-default Default
					|span.label.label-primary Primary
					|span.label.label-success Success
					|span.label.label-info Info
					|span.label.label-warning Warning
					|span.label.label-danger Danger
		///example
		//example
		.example
			.example-rendered
				a(href='#')
					| Inbox 
					span.badge 42
			.example-code.collapse.in
				pre: code.code-jade
					|a(href='#')
					|	| Inbox 
					|	span.badge 42
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-pills
					li.active: a(href='#')
						| Home
						span.badge 42
					li: a(href='#') Profile
					li: a(href='#')
						| Messages
						span.badge 3
				br
				ul.nav.nav-pills.nav-stacked
					li.active: a(href='#')
						| Home
						span.badge.pull-right 42
					li: a(href='#') Profile
					li: a(href='#')
						| Messages
						span.badge.pull-right 3
			.example-code.collapse.in
				pre: code.code-jade
					|ul.nav.nav-pills
					|	li.active: a(href='#')
					|		| Home
					|		span.badge 42
					|	li: a(href='#') Profile
					|	li: a(href='#')
					|		| Messages
					|		span.badge 3
					|br
					|ul.nav.nav-pills.nav-stacked
					|	li.active: a(href='#')
					|		| Home
					|		span.badge.pull-right 42
					|	li: a(href='#') Profile
					|	li: a(href='#')
					|		| Messages
					|		span.badge.pull-right 3
		///example
		//example
		.example
			.example-rendered
				.jumbotron
					.container
						h1 Hello, world!
						p
							| This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
						p
							a.btn.btn-primary.btn-lg Learn more
			.example-code.collapse.in
				pre: code.code-jade
					|.jumbotron
					|	.container
					|		h1 Hello, world!
					|		p
					|			| This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information
					|		p
					|			a.btn.btn-primary.btn-lg Learn more
		///example
		//example
		.example
			.example-rendered
				.page-header
					h1
						| Example page header 
						small Subtext for header

			.example-code.collapse.in
				pre: code.code-jade
					|.page-header
					|	h1
					|		| Example page header 
					|		small Subtext for header
		///example
		//example
		.example
			.example-rendered
				.row
					.col-sm-6.col-md-3
						a.thumbnail(href='#')
							img(data-src='holder.js/100%x180', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
					.col-sm-6.col-md-3
						a.thumbnail(href='#')
							img(data-src='holder.js/100%x180', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
					.col-sm-6.col-md-3
						a.thumbnail(href='#')
							img(data-src='holder.js/100%x180', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
					.col-sm-6.col-md-3
						a.thumbnail(href='#')
							img(data-src='holder.js/100%x180', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
			.example-code.collapse.in
				pre: code.code-jade
					|.row
					|	.col-sm-6.col-md-3
					|		a.thumbnail(href='#')
					|			img(data-src='holder.js/100%x180', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
					|	.col-sm-6.col-md-3
					|		a.thumbnail(href='#')
					|			img(data-src='holder.js/100%x180', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
					|	.col-sm-6.col-md-3
					|		a.thumbnail(href='#')
					|			img(data-src='holder.js/100%x180', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
					|	.col-sm-6.col-md-3
					|		a.thumbnail(href='#')
					|			img(data-src='holder.js/100%x180', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
		///example
		//example
		.example
			.example-rendered
				.row
					.col-sm-6.col-md-3
						.thumbnail
							img(data-src='holder.js/300x200', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
							.caption
								h3 Thumbnail label
								p
									| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
								p
									a.btn.btn-primary(href='#') Button
									a.btn.btn-default(href='#') Button
					.col-sm-6.col-md-3
						.thumbnail
							img(data-src='holder.js/300x200', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
							.caption
								h3 Thumbnail label
								p
									| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
								p
									a.btn.btn-primary(href='#') Button
									a.btn.btn-default(href='#') Button
					.col-sm-6.col-md-3
						.thumbnail
							img(data-src='holder.js/300x200', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
							.caption
								h3 Thumbnail label
								p
									| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
								p
									a.btn.btn-primary(href='#') Button
									a.btn.btn-default(href='#') Button
			.example-code.collapse.in
				pre: code.code-jade
					|.row
					|	.col-sm-6.col-md-3
					|		.thumbnail
					|			img(data-src='holder.js/300x200', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
					|			.caption
					|				h3 Thumbnail label
					|				p
					|					| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					|				p
					|					a.btn.btn-primary(href='#') Button
					|					a.btn.btn-default(href='#') Button
					|	.col-sm-6.col-md-3
					|		.thumbnail
					|			img(data-src='holder.js/300x200', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
					|			.caption
					|				h3 Thumbnail label
					|				p
					|					| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					|				p
					|					a.btn.btn-primary(href='#') Button
					|					a.btn.btn-default(href='#') Button
					|	.col-sm-6.col-md-3
					|		.thumbnail
					|			img(data-src='holder.js/300x200', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
					|			.caption
					|				h3 Thumbnail label
					|				p
					|					| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					|				p
					|					a.btn.btn-primary(href='#') Button
					|					a.btn.btn-default(href='#') Button
		///example
		//example
		.example
			.example-rendered
				.alert.alert-success
					strong Well done! 
					| You successfully read this important alert message.
				.alert.alert-info
					strong Heads up! 
					| This alert needs your attention, but it's not super important.
				.alert.alert-warning
					strong Warning! 
					| Best check yo self, you're not looking too good.
				.alert.alert-danger
					strong Oh snap! 
					| Change a few things up and try submitting again.
			.example-code.collapse.in
				pre: code.code-jade
					|.alert.alert-success
					|	strong Well done!
					|	| You successfully read this important alert message.
					|.alert.alert-info
					|	strong Heads up!
					|	| This alert needs your attention, but it's not super important.
					|.alert.alert-warning
					|	strong Warning!
					|	| Best check yo self, you're not looking too good.
					|.alert.alert-danger
					|	strong Oh snap!
					|	| Change a few things up and try submitting again.
		///example
		//example
		.example
			.example-rendered
				.alert.alert-dismissable
					button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
					strong Warning! 
					| Best check yo self, you're not looking too good.
			.example-code.collapse.in
				pre: code.code-jade
					|.alert.alert-dismissable
					|	button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
					|	strong Warning!
					|	| Best check yo self, you're not looking too good.
		///example
		//example
		.example
			.example-rendered
				.alert.alert-success
					strong Well done! 
					| You successfully read 
					a.alert-link(href='#') this important alert message
					| .
				.alert.alert-info
					strong Heads up! 
					| This 
					a.alert-link(href='#') alert needs your attention 
					| , but it's not super important.
				.alert.alert-warning
					strong Warning! 
					| Best check yo self, you're 
					a.alert-link(href='#') not looking too good
					| .
				.alert.alert-danger
					strong Oh snap! 
					a.alert-link(href='#') Change a few things up 
					| and try submitting again.
			.example-code.collapse.in
				pre: code.code-jade
					|.alert.alert-success
					|	strong Well done! 
					|	| You successfully read 
					|	a.alert-link(href='#') this important alert message
					|	| .
					|.alert.alert-info
					|	strong Heads up! 
					|	| This 
					|	a.alert-link(href='#') alert needs your attention 
					|	| , but it's not super important.
					|.alert.alert-warning
					|	strong Warning! 
					|	| Best check yo self, you're 
					|	a.alert-link(href='#') not looking too good
					|	| .
					|.alert.alert-danger
					|	strong Oh snap! 
					|	a.alert-link(href='#') Change a few things up 
					|	| and try submitting again.
		///example
		//example
		.example
			.example-rendered
				.progress
					.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
						span.sr-only 60% Complete
			.example-code.collapse.in
				pre: code.code-jade
					|.progress
					|	.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
					|		span.sr-only 60% Complete
		///example
		//example
		.example
			.example-rendered
				.progress
					.progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
						span.sr-only 40% Complete (success)
				.progress
					.progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
						span.sr-only 20% Complete
				.progress
					.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
						span.sr-only 60% Complete (warning)
				.progress
					.progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
						span.sr-only 80% Complete (danger)
			.example-code.collapse.in
				pre: code.code-jade
					|.progress
					|	.progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
					|		span.sr-only 40% Complete (success)
					|.progress
					|	.progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
					|		span.sr-only 20% Complete
					|.progress
					|	.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
					|		span.sr-only 60% Complete (warning)
					|.progress
					|	.progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
					|		span.sr-only 80% Complete (danger)
		///example
		//example
		.example
			.example-rendered
				.progress.progress-striped
					.progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
						span.sr-only 40% Complete (success)
				.progress.progress-striped
					.progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
						span.sr-only 20% Complete
				.progress.progress-striped
					.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
						span.sr-only 60% Complete (warning)
				.progress.progress-striped
					.progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
						span.sr-only 80% Complete (danger)
			.example-code.collapse.in
				pre: code.code-jade
					|.progress.progress-striped
					|	.progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
					|		span.sr-only 40% Complete (success)
					|.progress.progress-striped
					|	.progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
					|		span.sr-only 20% Complete
					|.progress.progress-striped
					|	.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
					|		span.sr-only 60% Complete (warning)
					|.progress.progress-striped
					|	.progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
					|		span.sr-only 80% Complete (danger)
		///example
		//example
		.example
			.example-rendered
				.progress.progress-striped.active
					.progress-bar(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 45%;')
						span.sr-only 45% Complete
			.example-code.collapse.in
				pre: code.code-jade
					|.progress.progress-striped.active
					|	.progress-bar(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 45%;')
					|		span.sr-only 45% Complete
		///example
		//example
		.example
			.example-rendered
				.progress
					.progress-bar.progress-bar-success(style='width: 35%;')
						span.sr-only 35% Complete (success)
					.progress-bar.progress-bar-warning(style='width: 20%;')
						span.sr-only 20% Complete (warning)
					.progress-bar.progress-bar-danger(style='width: 10%;')
						span.sr-only 10% Complete (danger)
			.example-code.collapse.in
				pre: code.code-jade
					|.progress
					|	.progress-bar.progress-bar-success(style='width: 35%;')
					|		span.sr-only 35% Complete (success)
					|	.progress-bar.progress-bar-warning(style='width: 20%;')
					|		span.sr-only 20% Complete (warning)
					|	.progress-bar.progress-bar-danger(style='width: 10%;')
					|		span.sr-only 10% Complete (danger)
		///example
		//example
		.example
			.example-rendered
				.media
					a.pull-left(href='#')
						img.media-object(data-src='holder.js/64x64', alt='Generic placeholder image', src='data:image/png;base64,')
					.media-body
						h4.media-heading Media heading
						| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				.media
					a.pull-left(href='#')
						img.media-object(data-src='holder.js/64x64', alt='Generic placeholder image', src='data:image/png;base64,')
					.media-body
						h4.media-heading Media heading
						| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
						.media
							a.pull-left(href='#')
								img.media-object(data-src='holder.js/64x64', alt='Generic placeholder image', src='data:image/png;base64,')
							.media-body
								h4.media-heading Media heading
								| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			.example-code.collapse.in
				pre: code.code-jade
					|.media
					|	a.pull-left(href='#')
					|		img.media-object(data-src='holder.js/64x64', alt='Generic placeholder image', src='data:image/png;base64,')
					|	.media-body
					|		h4.media-heading Media heading
					|		| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					|.media
					|	a.pull-left(href='#')
					|		img.media-object(data-src='holder.js/64x64', alt='Generic placeholder image', src='data:image/png;base64,')
					|	.media-body
					|		h4.media-heading Media heading
					|		| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					|		.media
					|			a.pull-left(href='#')
					|				img.media-object(data-src='holder.js/64x64', alt='Generic placeholder image', src='data:image/png;base64,')
					|			.media-body
					|				h4.media-heading Media heading
					|				| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		///example
		//example
		.example
			.example-rendered
				
			.example-code.collapse.in
				pre: code.code-jade
					
		///example

append bottom-script
	script.
		jQuery(document).ready(function($) {
			CodeMirror.colorize(document.getElementsByClassName("code-jade"), "jade")
		});

		$('#toggle-code').on('click', function(e) {
				$('.example-code').collapse('toggle');
			});
