extend layout-colorize

append css
	style.
		body {
			padding: 120px 0;
		}

		.example-rendered {
			padding: 20px 0;
		}
		.cm-s-default .cm-qualifier {
			color: #0AC43E;
		}
		.cm-s-default .cm-tag {
			color: #BB6D92;
		}
block main
	.container
		h1 Bootstrap 3 converted to jade (WIP)

	.container
		//example
		.example
			.example-rendered
				.btn-group
					button.btn.btn-default(type='button')
						span.glyphicon.glyphicon-align-left
					button.btn.btn-default(type='button')
						span.glyphicon.glyphicon-align-center
					button.btn.btn-default(type='button')
						span.glyphicon.glyphicon-align-right
					button.btn.btn-default(type='button')
						span.glyphicon.glyphicon-align-justify
			.example-code
				pre(data-lang="jade"): code
					|.btn-group
					|	button.btn.btn-default(type='button')
					|		span.glyphicon.glyphicon-align-left
					|	button.btn.btn-default(type='button')
					|		span.glyphicon.glyphicon-align-center
					|	button.btn.btn-default(type='button')
					|		span.glyphicon.glyphicon-align-right
					|	button.btn.btn-default(type='button')
					|		span.glyphicon.glyphicon-align-justify
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					button.btn.btn-default.btn-lg(type='button')
						span.glyphicon.glyphicon-star
						| Star
					button.btn.btn-default(type='button')
						span.glyphicon.glyphicon-star
						| Star
					button.btn.btn-default.btn-sm(type='button')
						span.glyphicon.glyphicon-star
						| Star
					button.btn.btn-default.btn-xs(type='button')
						span.glyphicon.glyphicon-star
						| Star
			.example-code
				pre(data-lang="jade"): code
					|.btn-toolbar
					|	button.btn.btn-default.btn-lg(type='button')
					|		span.glyphicon.glyphicon-star
					|		| Star
					|	button.btn.btn-default(type='button')
					|		span.glyphicon.glyphicon-star
					|		| Star
					|	button.btn.btn-default.btn-sm(type='button')
					|		span.glyphicon.glyphicon-star
					|		| Star
					|	button.btn.btn-default.btn-xs(type='button')
					|		span.glyphicon.glyphicon-star
					|		| Star
		///example
		//example
		.example
			.example-rendered
				.btn-group
					button.btn.btn-default(type='button') Left
					button.btn.btn-default(type='button') Middle
					button.btn.btn-default(type='button') Right
			.example-code
				pre(data-lang="jade"): code
					|.btn-group
					|	button.btn.btn-default(type='button') Left
					|	button.btn.btn-default(type='button') Middle
					|	button.btn.btn-default(type='button') Right
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group
						button.btn.btn-default(type='button') 1
						button.btn.btn-default(type='button') 2
						button.btn.btn-default(type='button') 3
						button.btn.btn-default(type='button') 4
					.btn-group
						button.btn.btn-default(type='button') 5
						button.btn.btn-default(type='button') 6
						button.btn.btn-default(type='button') 7
					.btn-group
						button.btn.btn-default(type='button') 8
			.example-code
				pre(data-lang="jade"): code
					|.btn-toolbar
					|	.btn-group
					|		button.btn.btn-default(type='button') 1
					|		button.btn.btn-default(type='button') 2
					|		button.btn.btn-default(type='button') 3
					|		button.btn.btn-default(type='button') 4
					|	.btn-group
					|		button.btn.btn-default(type='button') 5
					|		button.btn.btn-default(type='button') 6
					|		button.btn.btn-default(type='button') 7
					|	.btn-group
					|		button.btn.btn-default(type='button') 8
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group.btn-group-lg
						button.btn.btn-default(type='button') Left
						button.btn.btn-default(type='button') Middle
						button.btn.btn-default(type='button') Right
			.example-code
				pre(data-lang="jade"): code
					|.btn-toolbar
					|	.btn-group.btn-group-lg
					|		button.btn.btn-default(type='button') Left
					|		button.btn.btn-default(type='button') Middle
					|		button.btn.btn-default(type='button') Right
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group
						button.btn.btn-default(type='button') Left
						button.btn.btn-default(type='button') Middle
						button.btn.btn-default(type='button') Right
			.example-code
				pre(data-lang="jade"): code
					|.btn-toolbar
					|	.btn-group
					|		button.btn.btn-default(type='button') Left
					|		button.btn.btn-default(type='button') Middle
					|		button.btn.btn-default(type='button') Right
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group.btn-group-sm
						button.btn.btn-default(type='button') Left
						button.btn.btn-default(type='button') Middle
						button.btn.btn-default(type='button') Right
			.example-code
				pre(data-lang="jade"): code
					|.btn-toolbar
					|	.btn-group.btn-group-sm
					|		button.btn.btn-default(type='button') Left
					|		button.btn.btn-default(type='button') Middle
					|		button.btn.btn-default(type='button') Right
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group.btn-group-xs
						button.btn.btn-default(type='button') Left
						button.btn.btn-default(type='button') Middle
						button.btn.btn-default(type='button') Right
			.example-code
				pre(data-lang="jade"): code
					|.btn-toolbar
					|	.btn-group.btn-group-xs
					|		button.btn.btn-default(type='button') Left
					|		button.btn.btn-default(type='button') Middle
					|		button.btn.btn-default(type='button') Right
		///example
		//example
		.example
			.example-rendered
				.btn-group
					button.btn.btn-default(type='button') 1
					button.btn.btn-default(type='button') 2
				.btn-group
					button#btnGroupDrop1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
						| Dropdown 
						span.caret
					ul.dropdown-menu(role='menu', aria-labelledby='btnGroupDrop1')
						li: a(href='#') Dropdown link
						li: a(href='#') Dropdown link
			.example-code
				pre(data-lang="jade"): code
					|.btn-group
					|	button.btn.btn-default(type='button') 1
					|	button.btn.btn-default(type='button') 2
					|.btn-group
					|	button#btnGroupDrop1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Dropdown 
					|		span.caret
					|	ul.dropdown-menu(role='menu', aria-labelledby='btnGroupDrop1')
					|		li: a(href='#') Dropdown link
					|		li: a(href='#') Dropdown link
		///example
		//example
		.example
			.example-rendered
				.btn-group-vertical
					button.btn.btn-default(type='button') Button
					button.btn.btn-default(type='button') Button
					.btn-group
						button#btnGroupVerticalDrop1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							| Dropdown 
							span.caret
						ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop1')
							li: a(href='#') Dropdown link
							li: a(href='#') Dropdown link
					button.btn.btn-default(type='button') Button
					button.btn.btn-default(type='button') Button
					.btn-group
						button#btnGroupVerticalDrop2.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							| Dropdown 
							span.caret
						ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop2')
							li: a(href='#') Dropdown link
							li: a(href='#') Dropdown link
					.btn-group
						button#btnGroupVerticalDrop3.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							| Dropdown 
							span.caret
						ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop3')
							li: a(href='#') Dropdown link
							li: a(href='#') Dropdown link
					.btn-group
						button#btnGroupVerticalDrop4.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							| Dropdown 
							span.caret
						ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop4')
							li: a(href='#') Dropdown link
							li: a(href='#') Dropdown link
			.example-code
				pre(data-lang="jade"): code
					|.btn-group-vertical
					|	button.btn.btn-default(type='button') Button
					|	button.btn.btn-default(type='button') Button
					|	.btn-group
					|		button#btnGroupVerticalDrop1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Dropdown
					|			span.caret
					|		ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop1')
					|			li: a(href='#') Dropdown link
					|			li: a(href='#') Dropdown link
					|	button.btn.btn-default(type='button') Button
					|	button.btn.btn-default(type='button') Button
					|	.btn-group
					|		button#btnGroupVerticalDrop2.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Dropdown
					|			span.caret
					|		ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop2')
					|			li: a(href='#') Dropdown link
					|			li: a(href='#') Dropdown link
					|	.btn-group
					|		button#btnGroupVerticalDrop3.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Dropdown
					|			span.caret
					|		ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop3')
					|			li: a(href='#') Dropdown link
					|			li: a(href='#') Dropdown link
					|	.btn-group
					|		button#btnGroupVerticalDrop4.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Dropdown
					|			span.caret
					|		ul.dropdown-menu(role='menu', aria-labelledby='btnGroupVerticalDrop4')
					|			li: a(href='#') Dropdown link
					|			li: a(href='#') Dropdown link
		///example
		//example
		.example
			.example-rendered
				.btn-group.btn-group-justified
					a.btn.btn-default(href='#') Left
					a.btn.btn-default(href='#') Middle
					a.btn.btn-default(href='#') Right
			.example-code
				pre(data-lang="jade"): code
					|.btn-group.btn-group-justified
					|	a.btn.btn-default(href='#') Left
					|	a.btn.btn-default(href='#') Middle
					|	a.btn.btn-default(href='#') Right
		///example
		//example
		.example
			.example-rendered
				.btn-group
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
						| Default 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
						| Primary 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
						| Success 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
						| Info 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
						| Warning 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
						| Danger 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link
			.example-code
				pre(data-lang="jade"): code
					|.btn-group
					|	button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Default
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
					|.btn-group
					|	button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Primary
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
					|.btn-group
					|	button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Success
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
					|.btn-group
					|	button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Info
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
					|.btn-group
					|	button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Warning
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
					|.btn-group
					|	button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
					|		| Danger
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
		///example
		//example
		.example
			.example-rendered
				.btn-group
					button.btn.btn-default(type='button') Default
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-primary(type='button') Primary
					button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-success(type='button') Success
					button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-info(type='button') Info
					button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-warning(type='button') Warning
					button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link

				.btn-group
					button.btn.btn-danger(type='button') Danger
					button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='#') Action
						li: a(href='#') Another action
						li: a(href='#') Something else here
						li.divider
						li: a(href='#') Separated link
			.example-code
				pre(data-lang="jade"): code
					|.btn-group
					|	button.btn.btn-default(type='button') Default
					|	button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link

					|.btn-group
					|	button.btn.btn-primary(type='button') Primary
					|	button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link

					|.btn-group
					|	button.btn.btn-success(type='button') Success
					|	button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link

					|.btn-group
					|	button.btn.btn-info(type='button') Info
					|	button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link

					|.btn-group
					|	button.btn.btn-warning(type='button') Warning
					|	button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link

					|.btn-group
					|	button.btn.btn-danger(type='button') Danger
					|	button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
					|		span.caret
					|	ul.dropdown-menu(role='menu')
					|		li: a(href='#') Action
					|		li: a(href='#') Another action
					|		li: a(href='#') Something else here
					|		li.divider
					|		li: a(href='#') Separated link
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group
						button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='dropdown')
							| Large button 
							span.caret
						ul.dropdown-menu(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated link
				br
				.btn-toolbar
					.btn-group
						button.btn.btn-default.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
							| Small button 
							span.caret
						ul.dropdown-menu(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated link
				br
				.btn-toolbar
					.btn-group
						button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
							| Extra small button 
							span.caret
						ul.dropdown-menu(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated link
			.example-code
				pre(data-lang="jade"): code
					|.btn-toolbar
					|	.btn-group
					|		button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Large button
					|			span.caret
					|		ul.dropdown-menu(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated link
					|br
					|.btn-toolbar
					|	.btn-group
					|		button.btn.btn-default.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Small button
					|			span.caret
					|		ul.dropdown-menu(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated link
					|br
					|.btn-toolbar
					|	.btn-group
					|		button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
					|			| Extra small button
					|			span.caret
					|		ul.dropdown-menu(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated link
		///example
		//example
		.example
			.example-rendered
				.btn-toolbar
					.btn-group.dropup
						button.btn.btn-default(type='button') Dropup
						button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							span.caret
						ul.dropdown-menu(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated link

					.btn-group.dropup
						button.btn.btn-primary(type='button') Right dropup
						button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
							span.caret
						ul.dropdown-menu.pull-right(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated link
			.example-code
				pre(data-lang="jade"): code
					|.btn-toolbar
					|	.btn-group.dropup
					|		button.btn.btn-default(type='button') Dropup
					|		button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|			span.caret
					|		ul.dropdown-menu(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated link

					|	.btn-group.dropup
					|		button.btn.btn-primary(type='button') Right dropup
					|		button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
					|			span.caret
					|		ul.dropdown-menu.pull-right(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated link
		///example
		//example
		.example
			.example-rendered
				form(role='form')
					.input-group
						span.input-group-addon @
						input.form-control(type='text', placeholder='Username')
					br
					.input-group
						input.form-control(type='text')
						span.input-group-addon .00
					br
					.input-group
						span.input-group-addon $
						input.form-control(type='text')
						span.input-group-addon .00
			.example-code
				pre(data-lang="jade"): code
					|form(role='form')
					|	.input-group
					|		span.input-group-addon @
					|		input.form-control(type='text', placeholder='Username')
					|	br
					|	.input-group
					|		input.form-control(type='text')
					|		span.input-group-addon .00
					|	br
					|	.input-group
					|		span.input-group-addon $
					|		input.form-control(type='text')
					|		span.input-group-addon .00
		///example
		//example
		.example
			.example-rendered
				form(role='form')
					.input-group.input-group-lg
						span.input-group-addon @
						input.form-control(type='text', placeholder='Username')
					br
					.input-group
						span.input-group-addon @
						input.form-control(type='text', placeholder='Username')
					br
					.input-group.input-group-sm
						span.input-group-addon @
						input.form-control(type='text', placeholder='Username')

			.example-code
				pre(data-lang="jade"): code
					|form(role='form')
					|	.input-group.input-group-lg
					|		span.input-group-addon @
					|		input.form-control(type='text', placeholder='Username')
					|	br
					|	.input-group
					|		span.input-group-addon @
					|		input.form-control(type='text', placeholder='Username')
					|	br
					|	.input-group.input-group-sm
					|		span.input-group-addon @
					|		input.form-control(type='text', placeholder='Username')
		///example
		//example
		.example
			.example-rendered
				form.bs-example.bs-example-form
					.row
						.col-lg-6
							.input-group
								span.input-group-addon
									input(type='checkbox')
								input.form-control(type='text')
						.col-lg-6
							.input-group
								span.input-group-addon
									input(type='radio')
								input.form-control(type='text')
			.example-code
				pre(data-lang="jade"): code
					|form.bs-example.bs-example-form
					|	.row
					|		.col-lg-6
					|			.input-group
					|				span.input-group-addon
					|					input(type='checkbox')
					|				input.form-control(type='text')
					|		.col-lg-6
					|			.input-group
					|				span.input-group-addon
					|					input(type='radio')
					|				input.form-control(type='text')
		///example
		//example
		.example
			.example-rendered
				form
					.row
						.col-lg-6
							.input-group
								span.input-group-btn
									button.btn.btn-default(type='button') Go!
								input.form-control(type='text')
						.col-lg-6
							.input-group
								input.form-control(type='text')
								span.input-group-btn
									button.btn.btn-default(type='button') Go!
			.example-code
				pre(data-lang="jade"): code
					|form
					|	.row
					|		.col-lg-6
					|			.input-group
					|				span.input-group-btn
					|					button.btn.btn-default(type='button') Go!
					|				input.form-control(type='text')
					|		.col-lg-6
					|			.input-group
					|				input.form-control(type='text')
					|				span.input-group-btn
					|					button.btn.btn-default(type='button') Go!
		///example
		//example
		.example
			.example-rendered
				form(role='form')
					.row
						.col-lg-6
							.input-group
								.input-group-btn
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
										| Action 
										span.caret
									ul.dropdown-menu(role='menu')
										li: a(href='#') Action
										li: a(href='#') Another action
										li: a(href='#') Something else here
										li.divider
										li: a(href='#') Separated link
								input.form-control(type='text')
						.col-lg-6
							.input-group
								input.form-control(type='text')
								.input-group-btn
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
										| Action 
										span.caret
									ul.dropdown-menu.pull-right(role='menu')
										li: a(href='#') Action
										li: a(href='#') Another action
										li: a(href='#') Something else here
										li.divider
										li: a(href='#') Separated link
			.example-code
				pre(data-lang="jade"): code
					|form(role='form')
					|	.row
					|		.col-lg-6
					|			.input-group
					|				.input-group-btn
					|					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|						| Action
					|						span.caret
					|					ul.dropdown-menu(role='menu')
					|						li: a(href='#') Action
					|						li: a(href='#') Another action
					|						li: a(href='#') Something else here
					|						li.divider
					|						li: a(href='#') Separated link
					|				input.form-control(type='text')
					|		.col-lg-6
					|			.input-group
					|				input.form-control(type='text')
					|				.input-group-btn
					|					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					|						| Action
					|						span.caret
					|					ul.dropdown-menu.pull-right(role='menu')
					|						li: a(href='#') Action
					|						li: a(href='#') Another action
					|						li: a(href='#') Something else here
					|						li.divider
					|						li: a(href='#') Separated link
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-tabs
					li.active: a(href='#') Home
					li: a(href='#') Profile
					li: a(href='#') Messages
			.example-code
				pre(data-lang="jade"): code
					|ul.nav.nav-tabs
					|	li.active: a(href='#') Home
					|	li: a(href='#') Profile
					|	li: a(href='#') Messages
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-pills
					li.active: a(href='#') Home
					li: a(href='#') Profile
					li: a(href='#') Messages
			.example-code
				pre(data-lang="jade"): code
					|ul.nav.nav-pills
					|	li.active: a(href='#') Home
					|	li: a(href='#') Profile
					|	li: a(href='#') Messages
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-pills.nav-stacked
					li.active: a(href='#') Home
					li: a(href='#') Profile
					li: a(href='#') Messages
			.example-code
				pre(data-lang="jade"): code
					|ul.nav.nav-tabs.nav-stacked
					|	li.active: a(href='#') Home
					|	li: a(href='#') Profile
					|	li: a(href='#') Messages
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-tabs.nav-justified
					li.active: a(href='#') Home
					li: a(href='#') Profile
					li: a(href='#') Messages
				br
				ul.nav.nav-pills.nav-justified
					li.active: a(href='#') Home
					li: a(href='#') Profile
					li: a(href='#') Messages
			.example-code
				pre(data-lang="jade"): code
					|ul.nav.nav-tabs.nav-justified
					|	li.active: a(href='#') Home
					|	li: a(href='#') Profile
					|	li: a(href='#') Messages
					|br
					|ul.nav.nav-pills.nav-justified
					|	li.active: a(href='#') Home
					|	li: a(href='#') Profile
					|	li: a(href='#') Messages
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-pills
					li: a(href='#') Clickable link
					li: a(href='#') Clickable link
					li.disabled: a(href='#') Disabled link
			.example-code
				pre(data-lang="jade"): code
					|ul.nav.nav-pills
					|	li: a(href='#') Clickable link
					|	li: a(href='#') Clickable link
					|	li.disabled: a(href='#') Disabled link
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-tabs
					li.active: a(href='#') Home
					li: a(href='#') Help
					li.dropdown: a.dropdown-toggle(data-toggle='dropdown', href='#')
						| Dropdown
						span.caret
						ul.dropdown-menu(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated btn-link
			.example-code
				pre(data-lang="jade"): code
					|ul.nav.nav-tabs
					|	li.active: a(href='#') Home
					|	li: a(href='#') Help
					|	li.dropdown: a.dropdown-toggle(data-toggle='dropdown', href='#')
					|		| Dropdown
					|		span.caret
					|		ul.dropdown-menu(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated btn-link
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-pills
					li.active: a(href='#') Home
					li: a(href='#') Help
					li.dropdown: a.dropdown-toggle(data-toggle='dropdown', href='#')
						| Dropdown
						span.caret
						ul.dropdown-menu(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated btn-link
			.example-code
				pre(data-lang="jade"): code
					|ul.nav.nav-pills
					|	li.active: a(href='#') Home
					|	li: a(href='#') Help
					|	li.dropdown: a.dropdown-toggle(data-toggle='dropdown', href='#')
					|		| Dropdown
					|		span.caret
					|		ul.dropdown-menu(role='menu')
					|			li: a(href='#') Action
					|			li: a(href='#') Another action
					|			li: a(href='#') Something else here
					|			li.divider
					|			li: a(href='#') Separated btn-link
		///example
		//example
		.example
			.example-rendered
				nav.navbar.navbar-default(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') Brand

					.collapse.navbar-collapse.navbar-ex1-collapse
						ul.nav.navbar-nav
							li.active: a(href='#') Link
							li: a(href='#') Link
							li.dropdown: a.dropdown-toggle(href='#', data-toggle='dropdown')
								| Dropdown
								b.caret
								ul.dropdown-menu(role='menu')
									li: a(href='#') Action
									li: a(href='#') Another action
									li: a(href='#') Something else here
									li.divider
									li: a(href='#') Separated link
									li.divider
									li: a(href='#') One more separated link
						form.navbar-form.navbar-left(role='search')
							.form-group
								input.form-control(type='text', placeholder='Search')
							button.btn.btn-default(type='submit') Submit
						ul.nav.navbar-nav.navbar-right
							li: a(href='#') Link
							li.dropdown: a.dropdown-toggle(href='#', data-toggle='dropdown')
								| Dropdown
								b.caret
								ul.dropdown-menu(role='menu')
									li: a(href='#') Action
									li: a(href='#') Another action
									li: a(href='#') Something else here
									li.divider
									li: a(href='#') Separated link
			.example-code
				pre(data-lang="jade"): code
					|nav.navbar.navbar-default(role='navigation')
					|	.navbar-header
					|		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
					|			span.sr-only Toggle navigation
					|			span.icon-bar
					|			span.icon-bar
					|			span.icon-bar
					|		a.navbar-brand(href='#') Brand
					|	.collapse.navbar-collapse.navbar-ex1-collapse
					|		ul.nav.navbar-nav
					|			li.active: a(href='#') Link
					|			li: a(href='#') Link
					|			li.dropdown: a.dropdown-toggle(href='#', data-toggle='dropdown')
					|				| Dropdown
					|				b.caret
					|				ul.dropdown-menu(role='menu')
					|					li: a(href='#') Action
					|					li: a(href='#') Another action
					|					li: a(href='#') Something else here
					|					li.divider
					|					li: a(href='#') Separated link
					|					li.divider
					|					li: a(href='#') One more separated link
					|		form.navbar-form.navbar-left(role='search')
					|			.form-group
					|				input.form-control(type='text', placeholder='Search')
					|			button.btn.btn-default(type='submit') Submit
					|		ul.nav.navbar-nav.navbar-right
					|			li: a(href='#') Link
					|			li.dropdown: a.dropdown-toggle(href='#', data-toggle='dropdown')
					|				| Dropdown
					|				b.caret
					|				ul.dropdown-menu(role='menu')
					|					li: a(href='#') Action
					|					li: a(href='#') Another action
					|					li: a(href='#') Something else here
					|					li.divider
					|					li: a(href='#') Separated link
		///example
		//example
		.example
			.example-rendered
				nav.navbar.navbar-default(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex2-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') Brand
					.collapse.navbar-collapse.navbar-ex2-collapse
						button.btn.btn-default.navbar-btn(type='button') Sign in
			.example-code
				pre(data-lang="jade"): code
					|nav.navbar.navbar-default(role='navigation')
					|	.navbar-header
					|		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex2-collapse')
					|			span.sr-only Toggle navigation
					|			span.icon-bar
					|			span.icon-bar
					|			span.icon-bar
					|		a.navbar-brand(href='#') Brand
					|	.collapse.navbar-collapse.navbar-ex2-collapse
					|		button.btn.btn-default.navbar-btn(type='button') Sign in
		///example
		//example
		.example
			.example-rendered
				nav.navbar.navbar-default(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex3-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') Brand
					.collapse.navbar-collapse.navbar-ex3-collapse
						p.navbar-text Signed in as Mark Otto
			.example-code
				pre(data-lang="jade"): code
					|nav.navbar.navbar-default(role='navigation')
					|	.navbar-header
					|		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex3-collapse')
					|			span.sr-only Toggle navigation
					|			span.icon-bar
					|			span.icon-bar
					|			span.icon-bar
					|		a.navbar-brand(href='#') Brand
					|	.collapse.navbar-collapse.navbar-ex3-collapse
					|		p.navbar-text Signed in as Mark Otto
		///example
		//example
		.example
			.example-rendered
				nav.navbar.navbar-default(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex4-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') Brand
					.collapse.navbar-collapse.navbar-ex4-collapse
						p.navbar-text.pull-right
							| Signed in as
							a.navbar-link(href='#')  Mark Otto
			.example-code
				pre(data-lang="jade"): code
					|nav.navbar.navbar-default(role='navigation')
					|	.navbar-header
					|		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex4-collapse')
					|			span.sr-only Toggle navigation
					|			span.icon-bar
					|			span.icon-bar
					|			span.icon-bar
					|		a.navbar-brand(href='#') Brand
					|	.collapse.navbar-collapse.navbar-ex4-collapse
					|		p.navbar-text.pull-right
					|			| Signed in as
					|			a.navbar-link(href='#')  Mark Otto
		///example
		//example
		.example
			.example-rendered
				nav.navbar.navbar-default.navbar-static-top(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex7-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') Brand
					.collapse.navbar-collapse.navbar-ex7-collapse
						ul.nav.navbar-nav
							li.active: a(href='#') Home
							li: a(href='#') Link
							li: a(href='#') Link
			.example-code
				pre(data-lang="jade"): code
					|nav.navbar.navbar-default.navbar-static-top(role='navigation')
					|	.navbar-header
					|		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex7-collapse')
					|			span.sr-only Toggle navigation
					|			span.icon-bar
					|			span.icon-bar
					|			span.icon-bar
					|		a.navbar-brand(href='#') Brand
					|	.collapse.navbar-collapse.navbar-ex7-collapse
					|		ul.nav.navbar-nav
					|			li.active: a(href='#') Home
					|			li: a(href='#') Link
					|			li: a(href='#') Link
		///example
		//example
		.example
			.example-rendered
				nav.navbar.navbar-inverse(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex8-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') Brand
					.collapse.navbar-collapse.navbar-ex8-collapse
						ul.nav.navbar-nav
							li.active: a(href='#') Home
							li: a(href='#') Link
							li: a(href='#') Link
			.example-code
				pre(data-lang="jade"): code
					|nav.navbar.navbar-inverse(role='navigation')
					|	.navbar-header
					|		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex8-collapse')
					|			span.sr-only Toggle navigation
					|			span.icon-bar
					|			span.icon-bar
					|			span.icon-bar
					|		a.navbar-brand(href='#') Brand
					|	.collapse.navbar-collapse.navbar-ex8-collapse
					|		ul.nav.navbar-nav
					|			li.active: a(href='#') Home
					|			li: a(href='#') Link
					|			li: a(href='#') Link
		///example
		//example
		.example
			.example-rendered
				ol.breadcrumb
					li.active Home
				ol.breadcrumb
					li: a(href='#') Home
					li.active Library
				ol.breadcrumb
					li: a(href='#') Home
					li: a(href='#') Library
					li.active Data
			.example-code
				pre(data-lang="jade"): code
					|ol.breadcrumb
					|	li.active Home
					|ol.breadcrumb
					|	li: a(href='#') Home
					|	li.active Library
					|ol.breadcrumb
					|	li: a(href='#') Home
					|	li: a(href='#') Library
					|	li.active Data
		///example
		//example
		.example
			.example-rendered
				ul.pagination
					li: a(href='#') &laquo;
					li: a(href='#') 1
					li: a(href='#') 2
					li: a(href='#') 3
					li: a(href='#') 4
					li: a(href='#') 5
					li: a(href='#') &raquo;
			.example-code
				pre(data-lang="jade"): code
					|ul.pagination
					|	li: a(href='#') &laquo;
					|	li: a(href='#') 1
					|	li: a(href='#') 2
					|	li: a(href='#') 3
					|	li: a(href='#') 4
					|	li: a(href='#') 5
					|	li: a(href='#') &raquo;
		///example
		//example
		.example
			.example-rendered
				ul.pagination
					li.disabled: a(href='#') &laquo;
					li.active: a(href='#')
						| 1
						span.sr-only (current)
					li: a(href='#') 2
					li: a(href='#') 3
					li: a(href='#') 4
					li: a(href='#') 5
					li: a(href='#') &raquo;
			.example-code
				pre(data-lang="jade"): code
					|ul.pagination
					|	li.disabled: a(href='#') &laquo;
					|	li.active: a(href='#')
					|		| 1
					|		span.sr-only (current)
					|	li: a(href='#') 2
					|	li: a(href='#') 3
					|	li: a(href='#') 4
					|	li: a(href='#') 5
					|	li: a(href='#') &raquo;
		///example
		//example
		.example
			.example-rendered
				ul.pagination.pagination-lg
					li.disabled: a(href='#') &laquo;
					li.active: a(href='#')
						| 1
						span.sr-only (current)
					li: a(href='#') 2
					li: a(href='#') 3
					li: a(href='#') 4
					li: a(href='#') 5
					li: a(href='#') &raquo;
				br
				ul.pagination
					li.disabled: a(href='#') &laquo;
					li.active: a(href='#')
						| 1
						span.sr-only (current)
					li: a(href='#') 2
					li: a(href='#') 3
					li: a(href='#') 4
					li: a(href='#') 5
					li: a(href='#') &raquo;
				br
				ul.pagination.pagination-sm
					li.disabled: a(href='#') &laquo;
					li.active: a(href='#')
						| 1
						span.sr-only (current)
					li: a(href='#') 2
					li: a(href='#') 3
					li: a(href='#') 4
					li: a(href='#') 5
					li: a(href='#') &raquo;
			.example-code
				pre(data-lang="jade"): code
					|ul.pagination.pagination-lg
					|	li.disabled: a(href='#') &laquo;
					|	li.active: a(href='#')
					|		| 1
					|		span.sr-only (current)
					|	li: a(href='#') 2
					|	li: a(href='#') 3
					|	li: a(href='#') 4
					|	li: a(href='#') 5
					|	li: a(href='#') &raquo;
					|br
					|ul.pagination
					|	li.disabled: a(href='#') &laquo;
					|	li.active: a(href='#')
					|		| 1
					|		span.sr-only (current)
					|	li: a(href='#') 2
					|	li: a(href='#') 3
					|	li: a(href='#') 4
					|	li: a(href='#') 5
					|	li: a(href='#') &raquo;
					|br
					|ul.pagination.pagination-sm
					|	li.disabled: a(href='#') &laquo;
					|	li.active: a(href='#')
					|		| 1
					|		span.sr-only (current)
					|	li: a(href='#') 2
					|	li: a(href='#') 3
					|	li: a(href='#') 4
					|	li: a(href='#') 5
					|	li: a(href='#') &raquo;
		///example
		//example
		.example
			.example-rendered
				ul.pager
					li: a(href='#') Previous
					li: a(href='#') Next
			.example-code
				pre(data-lang="jade"): code
					|ul.pager
					|	li: a(href='#') Previous
					|	li: a(href='#') Next
		///example
		//example
		.example
			.example-rendered
				ul.pager
					li.previous: a(href='#') ← Older
					li.next: a(href='#') Newer →
			.example-code
				pre(data-lang="jade"): code
					|ul.pager
					|	li.previous: a(href='#') ← Older
					|	li.next: a(href='#') Newer →
		///example
		//example
		.example
			.example-rendered
				ul.pager
					li.previous.disabled: a(href='#') ← Older
					li.next: a(href='#') Newer →
			.example-code
				pre(data-lang="jade"): code
					|ul.pager
					|	li.previous.disabled: a(href='#') ← Older
					|	li.next: a(href='#') Newer →
		///example
		//example
		.example
			.example-rendered
				h1
					| Example heading 
					span.label.label-default New
				h2
					| Example heading 
					span.label.label-default New
				h3
					| Example heading 
					span.label.label-default New
				h4
					| Example heading 
					span.label.label-default New
				h5
					| Example heading 
					span.label.label-default New
				h6
					| Example heading 
					span.label.label-default New
			.example-code
				pre(data-lang="jade"): code
					|h1
					|	| Example heading 
					|	span.label.label-default New
					|h2
					|	| Example heading 
					|	span.label.label-default New
					|h3
					|	| Example heading 
					|	span.label.label-default New
					|h4
					|	| Example heading 
					|	span.label.label-default New
					|h5
					|	| Example heading 
					|	span.label.label-default New
					|h6
					|	| Example heading 
					|	span.label.label-default New
		///example
		//example
		.example
			.example-rendered
				span.label.label-default Default
				span.label.label-primary Primary
				span.label.label-success Success
				span.label.label-info Info
				span.label.label-warning Warning
				span.label.label-danger Danger
			.example-code
				pre(data-lang="jade"): code
					|span.label.label-default Default
					|span.label.label-primary Primary
					|span.label.label-success Success
					|span.label.label-info Info
					|span.label.label-warning Warning
					|span.label.label-danger Danger
		///example
		//example
		.example
			.example-rendered
				a(href='#')
					| Inbox 
					span.badge 42
			.example-code
				pre(data-lang="jade"): code
					|a(href='#')
					|	| Inbox 
					|	span.badge 42
		///example
		//example
		.example
			.example-rendered
				ul.nav.nav-pills
					li.active: a(href='#')
						| Home
						span.badge 42
					li: a(href='#') Profile
					li: a(href='#')
						| Messages
						span.badge 3
				br
				ul.nav.nav-pills.nav-stacked
					li.active: a(href='#')
						| Home
						span.badge.pull-right 42
					li: a(href='#') Profile
					li: a(href='#')
						| Messages
						span.badge.pull-right 3
			.example-code
				pre(data-lang="jade"): code
					|ul.nav.nav-pills
					|	li.active: a(href='#')
					|		| Home
					|		span.badge 42
					|	li: a(href='#') Profile
					|	li: a(href='#')
					|		| Messages
					|		span.badge 3
					|br
					|ul.nav.nav-pills.nav-stacked
					|	li.active: a(href='#')
					|		| Home
					|		span.badge.pull-right 42
					|	li: a(href='#') Profile
					|	li: a(href='#')
					|		| Messages
					|		span.badge.pull-right 3
		///example
		//example
		.example
			.example-rendered
				.jumbotron
					.container
						h1 Hello, world!
						p
							| This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
						p
							a.btn.btn-primary.btn-lg Learn more
			.example-code
				pre(data-lang="jade"): code
					|.jumbotron
					|	.container
					|		h1 Hello, world!
					|		p
					|			| This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information
					|		p
					|			a.btn.btn-primary.btn-lg Learn more
		///example
		//example
		.example
			.example-rendered
				
			.example-code
				pre(data-lang="jade"): code
					
		///example

append bottom-script
	script.
		CodeMirror.colorize();